GOOGLE_APPLICATION_CREDENTIALS=C:/ruta/al/service-account.json
GA4_PROPERTY_ID=528336901
SITE_URL=https://www.whalemate.com/
PAGESPEED_API_KEY=
CRUX_API_KEY=
GSC_SITE_URL=https://www.whalemate.com/
GOOGLE_SERVICE_ACCOUNT_JSON=
